<div class = "footer">
    <footer>
        <div class="row"> 
            <div class="col-md-6">
                <p>You can find us on:</p>
                <ul>
                    <li>
                        <a href="http://facebook.com" target="blank">
                            <i class="fab fa-facebook-square"></i>Facebook
                        </a>
                    </li>

                    <li>
                        <a href="http://twitter.com" target="blank">
                            <i class="fab fa-twitter-square"></i>Twitter
                        </a>
                    </li>

                    <li>
                        <a href="https://www.instagram.com/" target="blank">
                            <i class="fab fa-instagram-square"></i>Instagram
                        </a>
                    </li>
                </ul>


            </div>  
            <div class="col-md-6">
                <div class="send-message">
                    <form class="form-group">
                        <label for="message-bar">Write Us a Message:</label>
                        <input type="text" id="message-bar" class="form-control">
                        <br>
                        <button class="submit">Send Message</button>
                    </form>

                </div>


            </div>    
        </div>
    </footer>
</div>

