<app-navbar></app-navbar>

<div class = "container-fluid">
    <div class="form-field">
        <form>
            <div class="form-group">
                <label for ="user-name">Enter Your GitHub UserName:</label>
                <input type = "text" id="user-name" class="form-control"  placeholder = "Enter Your GitHub Name" [(ngModel)]="username" name="username"> 
            </div>
            <button type="submit" class="btn btn-info" (click)= "submitName()">Submit</button>
    
        </form>
    
    </div>
    <div class="list">
        <div *ngIf = 'profile'>
            <div>
                <div>
                    <img src = {{profile.avatar_url}} alt ="github user's image">
                </div>

            </div>
            <br>

            <div>
                <div class = "details">
                    Username:<p appStrikethrough>{{profile.login | uppercase}}</p>
                    <br>
                    <br>
                    <p *ngIf = "profile.email">Email Address: {{profile.email}}</p>
                    <p *ngIf = "profile.twitter_username">Bio: {{profile.twitter_username}}</p>
                    <br>
                    Lives in: {{profile.location | uppercase}} and is a {{profile.bio | uppercase}}
                    <br>
                    Joined GitHub on <strong appStrikethrough>{{profile.created_at | date}}</strong>
                </div>
            </div>
            
        </div>

    </div>    

</div>
<app-footer></app-footer>

