<app-navbar></app-navbar>

<div class = "container-fluid">
    <div class="form-field">
        <form>
            <div class="form-group">
                <label for ="user-name">Enter Your GitHub UserName:</label>
                <input #input type = "search" id="user-name" class="form-control" #search> 
            </div>
            <button type="submit" class="btn btn-info">Submit</button>
    
        </form>
    
    </div>
    <div class="list">
        <div *ngIf = 'profile'>
            <div>
                <div>
                    <img src = {{profile.avatar_url}} alt ="github user's image">
                </div>

            </div>
            <br>

            <div>
                <div class = "details">
                    Name is :{{profile.login | uppercase}}
                    <br>
                    <br>
                    <p *ngIf = "profile.email">Email Address: {{profile.email}}</p>
                    <p *ngIf = "profile.twitter_username">Bio: {{profile.twitter_username}}</p>
                    <br>
                    Lives in: {{profile.location | uppercase}} and is a {{profile.bio | uppercase}}
                    <br>
                    Joined GitHub {{profile.created_at}} years ago
                </div>
            </div>
            
        </div>

    </div>
    

</div>
<app-footer></app-footer>

