

<div class = "container-fluid">
    <app-navbar></app-navbar>

    <div class="form-field">
        <form>
            <div class="form-group">
                <label for ="user-name">Enter Your GitHub UserName:</label>
                <input #input type = "search" id="user-name" class="form-control" #search> 
            </div>
            <button type="submit" class="btn btn-info">Submit</button>
    
        </form>
    
    </div>
    <!-- <div class="list">
        <ul>
            <div *ngFor = 'let user of data'>
                <li>
                    {{user.id}}.{{user.login}}
                </li>
            </div>
        </ul>    


    </div> -->
    

</div>
<app-footer></app-footer>

