/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.css";

@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@300&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Zilla Slab', serif;
}
body{
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: #f3f3f3;

}

